@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "~bulma/bulma.sass";

@import "./styles/colors.scss";
@import "./styles/navbar.scss";

$mobile: 768px;

body {
  @media (max-width: $mobile) {
    overflow-x: hidden;
  }
}

.section {
  $paddingfix: 15px !important; // I think slick-carousel is doing this
  @media (max-width: $mobile) {
    padding-left: $paddingfix;
    padding-right: $paddingfix;
  }
}

.navbar .navbar-menu {
  box-shadow: none !important;
}

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

.header-logo {
  margin: 0 auto 3rem;
  max-width: 200px;
  display: block;

  @media (max-width: $mobile) {
    max-width: 120px;
    margin: 0 0 2rem;
  }
}

.header-logo + .section {
  padding-top: 2rem;
}

.section.section--gradient {
  padding-top: 3rem;
  @media (max-width: $mobile) {
    padding-top: 2rem;
  }
}

.index.section {
  padding-top: 0px;

  h2.title {
    margin-top: 20px;
  }
}

// These don't seem to work for some reason?
.slider-container {
  margin-bottom: 40px;

  @media (max-width: $mobile) {
    width: 95vw;
    transform: translate(-50%, 0);
    position: relative;
    left: 50%;
  }
}

.slick-dots {
  position: static;
  bottom: 15px;
}

.title,
.content h2,
.content h3,
.content h4,
.content h5,
.content p {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.content li {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-image {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 12px 16px 10px;
  font-size: 18px;
  font-size: 1rem;
  line-height: 1.25;
  background-color: #fff;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 700;
  color: #cc3700;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 2px #cc3700;
  box-shadow: inset 0 0 0 2px #f40;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.navbar-item .icon {
  color: $primary;
}

// Override for use of svg's from https://simpleicons.org/
.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.navbar-brand .navbar-item.logo {
  padding: 0 1rem;
}

footer.footer {
  padding: 3rem 0rem 1.5rem;
  background-color: transparent;
}

//Menu overrides
$menu-item-color: $white-ter;
$menu-item-hover-color: $black !important;
$menu-item-hover-background-color: $black;
$menu-item-active-color: $white;
$menu-item-active-background-color: $white;
$menu-list-border-left: 1px solid $white;
$menu-label-color: $white-ter;

.menu-label {
  font-size: 1em !important;
  text-align: left;
}

.menu-list {
  list-style: none !important;
  text-align: left;
}

.column.social {
  padding: 3rem 2em 2em 2em;
}

@media screen and (max-width: $tablet) {
  .column.social {
    padding: 1.5rem 2em 2em 2em;
  }
}

.social a {
  padding: 0.5em 0.5em 0.3em 0.5em;
  border-radius: 1em;
  background-color: $white-ter;
  margin: 0.5em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  display: inline;
}

.gatsby-resp-image-wrapper {
  max-width: 600px;
}

/********
 * Pay study styles
 ********/

section.pay-study {
  .section {
    padding: 0 !important;
  }

  .title,
  .byline {
    @media (max-width: $mobile) {
      text-align: left !important;
    }
  }

  .kicker {
    margin-bottom: 0em;
  }

  .byline {
    font-weight: bold;
    margin: 1.5rem auto;
    max-width: 650px;
    text-align: center;
  }

  li {
    margin-bottom: 0.5em;

    p:not(:last-child) {
      margin-bottom: 0;
    }
  }

  strong {
    border-bottom: 2px solid $guild-magenta;
  }
}

section.pay-study-22 {
  .title {
    margin-top: 0.25em;
  }

  .gray {
    color: #999;
  }

  .byline {
    text-align: left;
  }

  h2 {
    position: relative;

    span.anchor-offset {
      position: absolute;
      top: -80px;
    }
  }
  .anchor-link {
    color: #666;
    opacity: 0;
    position: absolute;
    transform: translate(2px, 2px);
    width: 1em;
    font-size: 0.75em;
  }

  h2:hover .anchor-link {
    opacity: 1;
  }
}

.sticky-wrapper {
  position: sticky;
  top: 60px;
  left: 0;
  height: 100vh;
  margin-top: calc(132px + 2rem);
  padding-top: 1.5em;
  // margin-bottom:-100vh;
  max-width: calc(calc(100% - 680px) / 2);
  z-index: 4;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: start;

  &:before {
    content: "Jump to section ↴";
    position: absolute;
    left: calc(100% - 200px);
    top: 0;
    width: 200px;
    padding-left: 0.75em;
    color: #999;
  }

  aside#toc-menu {
    width: 200px;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.non-sticky-content {
  @media (min-width: 1024px) {
    margin-top: calc(-100vh - calc(132px + 2rem));
  }
}

.pay-study-linkbox {
  background-color: #f7f7f7;
  padding: 1em;
  max-width: 300px;
  margin: 1em 0em 1em 2em;
  float: right;

  @media (max-width: 650px) {
    float: none;
    margin: 2em auto;
  }

  &.left {
    float: none;
    margin: 2em 0;
  }

  opacity: 1;
  transition: 0.5s opacity;

  .linkbox-header {
    text-transform: uppercase;
  }

  ul {
    margin-left: 0;
  }

  li.linkbox-item {
    list-style-type: none;
    &.active {
      font-weight: bold;
    }
  }

  .meta-text {
    font-size: medium;
  }
}

.mw-650 {
  max-width: 650px;
  margin: auto;
}

.data-table {
  font-size: smaller;
}

.hidden {
  opacity: 0;
  transition: 0.5s opacity;
}

.pay-study-topper {
  margin-bottom: 2em;
}
